@{
    Layout = "_UserLayout";
}

@model IEnumerable<Category>
<link rel="stylesheet" href="~/css/grid.css">
<div class="app__container">
    <div class="grid wide">
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col l-4 c-12">@category.sCategoryName</div>
            }

        </div>

    </div>

</div>
<script src="~/js/admin.js"></script>