@model ProductViewModel

@{
    ViewData["Title"] = "Trang chủ";
}

<div class="app__container">
    <div class="grid wide">
        <div class="banner">
            <div class="banner-container">
                <div class="banner-left">
                    <div class="banner-left-content">
                        <div class="banner-left-content__top">
                            <a href="" class="banner-left-content__top-link">
                                <div class="banner-home__content-left-container">
                                    <div class="banner-home__content-left-container-text">
                                        <h1 class="banner-home__content-left-title">
                                            Mua sản phẩm có giảm giá tại F4 SHOP
                                        </h1>
                                        <p class="banner-home__content-left-desc">
                                            Tai nghe bluetooth X15 phiên bản Gaming chất lượng cao,
                                            tai nghe không dây pin trâu âm thanh sống động hợp mọi dòng máy
                                        </p>
                                        <button class="banner-home__content-left-btn">Xem ngay</button>
                                        <div class="banner-home__content-left-container-img">
                                            <img width="200" src="~/img/sac_du_phong.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="banner-left-content__top-link">
                                <div class="banner-home__content-left-container">
                                    <div class="banner-home__content-left-container-text">
                                        <h1 class="banner-home__content-left-title">
                                            Mua sản phẩm có giảm giá tại F4 SHOP
                                        </h1>
                                        <p class="banner-home__content-left-desc">
                                            Tai nghe bluetooth X15 phiên bản Gaming chất lượng cao,
                                            tai nghe không dây pin trâu âm thanh sống động hợp mọi dòng máy
                                        </p>
                                        <button class="banner-home__content-left-btn">Xem ngay</button>
                                        <div class="banner-home__content-left-container-img">
                                            <img width="200" src="~/img/sac_du_phong.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="banner-left-content__top-link">
                                <div class="banner-home__content-left-container">
                                    <div class="banner-home__content-left-container-text">
                                        <h1 class="banner-home__content-left-title">
                                            Mua sản phẩm có giảm giá tại F4 SHOP
                                        </h1>
                                        <p class="banner-home__content-left-desc">
                                            Tai nghe bluetooth X15 phiên bản Gaming chất lượng cao,
                                            tai nghe không dây pin trâu âm thanh sống động hợp mọi dòng máy
                                        </p>
                                        <button class="banner-home__content-left-btn">Xem ngay</button>
                                        <div class="banner-home__content-left-container-img">
                                            <img width="200" src="~/img/sac_du_phong.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>           
                        </div>
                        <div class="banner-left-content__top-btn">
                            <i class="uil uil-angle-left banner-left-content__top-btn-icon banner-left-content__top-btn-icon-prev"></i>
                            <i class="uil uil-angle-right banner-left-content__top-btn-icon banner-left-content__top-btn-icon-next"></i>
                        </div>
                                
                        <div class="banner-left-content__bottom">
                            <div class="banner-left-content__bottom-pagination">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-right">
                    <div class="banner-right__content">
                        <div class="banner-right__content-top" style="background-image: url(/img/banner_my_pham.jpg);">
                                    
                        </div>
                        <div class="banner-right__content-bottom" style="background-image: url(/img/ngat_ngay.jpg);">
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="category-header">
                <div class="category-header__title">Danh mục</div>
                <div class="category-header__arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="category-container">
                <div class="category-content">
                    <ul class="row sm-gutter category-list">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="success">
            <div class="success-header">
                <div class="success-title">Gợi ý hôm nay</div>
            </div>
            <div class="success-container">
                <div class="home-product">
                    <div class="row sm-gutter product__container">
                        
                    </div>
                </div>
                <ul class="pagination home-product__pagination">
                    @if (Model.CurrentPage > 1) {
                        <li class="pagination-item">
                            <a href="/Home/Index?currentPage=@(Model.CurrentPage - 1)" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPage; i++) {
                        @if (i == Model.CurrentPage) {
                            <li class="pagination-item pagination-item--active">
                                <a href="/Home/Index?currentPage=@i" class="pagination-item__link">@i</a>
                            </li>
                        } else {
                            <li class="pagination-item">
                                <a href="/Home/Index?currentPage=@i" class="pagination-item__link">@i</a>
                            </li>
                        }
                    }
                    @* <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li> *@
                    @if (Model.CurrentPage < Model.TotalPage) {
                        <li class="pagination-item">
                            <a href="/Home/Index?currentPage=@(Model.CurrentPage + 1)" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/js/main.js"></script>



