@model ProductViewModel
@{
    @* Layout = "_Cart"; *@
    ViewData["Title"] = "Giỏ hàng";
} 
<link rel="stylesheet" href="~/css/cart.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
<div class="app__container">
    <div class="grid wide">
        <div class="cart">
            <div class="table">
                <p class="table__total-count">Có 3 sản phẩm trong giỏ hàng của bạn</p>
                <table>
                    <thead>
                        <tr>
                            <th>Chọn</th>
                            <th class="table__col-name">Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tbody id="table__body">
                        
                    </tbody>
                </table>
                <div class="cart__order">
                    <div class="cart__checkout">
                        <input type="checkbox" onchange="checkout()" class="cart__checkout-input" name="" id="" />
                        <label for="" class="cart__checkout-label">Chọn tất cả</label>
                    </div>
                    <p class='table__total-price'>Tổng tiền: 0 đ</p>
                    <a class="cart__order-btn" href="">Mua hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal layoyt-->
<div class="cart__message">

</div>

<script src="~/js/cart.js"></script>